.container, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  width: 165px;
  height: 150px;
  border-radius: 50%;
}

body {
  height: 100vh;
  background-color: #E7D8BB;
}

.container {
  width: 55vh;
  height: 55vh;
  position: relative;
  border-radius: 50%;
  background-color: #F5EFDF;
}

.head {
  background-color: #A45C22;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  border-bottom: 5px solid #945021;
}

.face {
  width: 90px;
  height: 75px;
  border-radius: 50%;
  background-color: #FACF8B;
  position: absolute;
  left: 37.5px;
  top: 37.5px;
}

.cheeks {
  background-color: #A45C22;
  height: 50%;
  width: 20%;
  border-radius: 50%;
  position: absolute;
  top: 25%;
}
.cheeks.rigth {
  right: 36px;
  transform: rotate(10deg);
}
.cheeks.left {
  left: 36px;
  transform: rotate(-10deg);
}

.mouth {
  border-radius: 50%;
  background-color: #FACF8B;
  height: 39%;
  width: 45%;
  position: absolute;
  bottom: 20px;
  left: 27%;
}

.eye {
  background-color: #120E0D;
  height: 8%;
  width: 8%;
  border-radius: 50%;
  position: absolute;
  top: 44%;
  z-index: 2;
}
.eye.rigth {
  right: 42px;
}
.eye.left {
  left: 42px;
}

.inner-eye {
  background-color: #ffffff;
  border-radius: 50%;
  height: 25%;
  width: 25%;
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 6px;
}

.cheekbones {
  background-color: #FACF8B;
  border-radius: 50%;
  height: 10%;
  width: 14%;
  position: absolute;
  z-index: 5;
  top: 53%;
}
.cheekbones.rigth {
  right: 20px;
}
.cheekbones.left {
  left: 20px;
}

.nose {
  background-color: black;
  border-radius: 50%;
  height: 24%;
  width: 24%;
  position: absolute;
  top: 1%;
  left: 38%;
}

.smile {
  height: 40%;
  width: 23%;
  position: absolute;
  border-radius: 50%;
  border-bottom: 3px solid #452F21;
  top: 6px;
  background-color: #FACF8B;
}
.smile.rigth {
  right: 24%;
  border-right: 3px solid #452F21;
  transform: rotate(33deg);
}
.smile.left {
  left: 24%;
  border-left: 3px solid #452F21;
  transform: rotate(-33deg);
}

.tooth {
  background-color: #ffffff;
  height: 40%;
  width: 24%;
  position: absolute;
  top: 40%;
  left: 38%;
  border-radius: 25%;
}

.ear {
  background-color: #A45C22;
  height: 15%;
  width: 15%;
  position: absolute;
  border-radius: 50%;
  top: 10px;
}
.ear.rigth {
  right: 10px;
}
.ear.left {
  left: 10px;
}

.inner-ear {
  background-color: #FACF8B;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

.body {
  background-color: #A45C22;
  height: 35%;
  width: 40%;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  border-bottom: 5px solid #945021;
}

.body-copy {
  background-color: #A45C22;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.arm {
  background-color: #A45C22;
  height: 20%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  z-index: 4;
}
.arm.rigth {
  right: -32px;
  transform: rotate(-35deg);
  animation-name: arm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.arm.left {
  left: -32px;
  transform: rotate(-35deg);
}

@keyframes arm {
  0% {
    transform-origin: top left;
    transform: rotate(-45deg);
  }
  100% {
    transform-origin: top left;
    transform: rotate(5deg);
  }
}
.leg {
  background-color: #A45C22;
  height: 26%;
  width: 55%;
  border-radius: 50%;
  position: absolute;
  bottom: -14px;
  z-index: 4;
}
.leg.rigth {
  right: -12px;
  transform: rotate(35deg);
}
.leg.left {
  left: -12px;
  transform: rotate(-35deg);
}

.cola {
  background-color: #35241A;
  height: 114%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  transform: rotate(-45deg);
  left: -41px;
}

.floor {
  width: 140%;
  height: 16%;
  border-radius: 50%;
  background-color: #DFCDA9;
  position: absolute;
  bottom: -35px;
  left: -26px;
}

/*# sourceMappingURL=main.css.map */
