.container, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  background-color: #d6edf7;
}

.container {
  width: 250px;
  height: 250px;
  background-color: #e4f1f7;
  border-radius: 50%;
  position: relative;
}
@media screen and (min-width: 640px) {
  .container {
    width: 400px;
    height: 400px;
  }
}

.head {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #FFC850;
  position: relative;
}

.head-copy {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFC850;
  position: absolute;
  z-index: 3;
}

.eye {
  width: 12%;
  height: 18%;
  border-radius: 40%;
  background-color: #4B3F4E;
  position: absolute;
  top: 45%;
  z-index: 4;
}
.eye.left {
  left: 20%;
}
.eye.rigth {
  right: 20%;
}

.inner-eye {
  width: 45%;
  height: 40%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 27.5%;
}

.ear {
  width: 32%;
  height: 79%;
  background-color: #EBAF4B;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  top: -11%;
  z-index: 1;
}
.ear.left {
  left: 6%;
  transform: rotate(-35deg);
  animation-name: ear-l;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.ear.rigth {
  right: 6%;
  transform: rotate(35deg);
  animation-name: ear-r;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes ear-l {
  0% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes ear-r {
  0% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.inner-ear {
  width: 60%;
  height: 90%;
  background-color: #E19C46;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  z-index: 1;
  top: 12%;
}
.inner-ear.left {
  right: 30%;
}
.inner-ear.rigth {
  left: 30%;
}

.nose {
  width: 15%;
  height: 22.5%;
  background-color: #FF8087;
  border-radius: 90% 30% 30% 90%/50% 50% 50% 50%;
  position: absolute;
  z-index: 5;
  left: 42.5%;
  top: 67%;
  transform: rotate(-90deg);
}

.mooth {
  width: 37%;
  height: 48%;
  background-color: #FAEBC8;
  position: absolute;
  z-index: 3;
  border-radius: 90% 30% 30% 90%/50% 50% 50% 50%;
  transform: rotate(-90deg);
  left: 31.5%;
  top: 66%;
}

.strip {
  width: 40%;
  height: 8%;
  position: absolute;
  z-index: 4;
  background-color: #4B3F4E;
  left: 30%;
  top: 10%;
}
.strip:after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  border-width: 0 0 12px 12px;
  border-style: solid;
  border-color: #4B3F4E;
  position: absolute;
  left: -5px;
}
@media screen and (min-width: 640px) {
  .strip:after {
    border-width: 0 0 19px 14px;
  }
}
.strip:before {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  border-width: 0 0 12px 12px;
  border-style: solid;
  border-color: #4B3F4E;
  position: absolute;
  right: -5px;
}
@media screen and (min-width: 640px) {
  .strip:before {
    border-width: 0 0 19px 14px;
  }
}
.strip.second {
  width: 20%;
  height: 8%;
  left: 40%;
  top: 22%;
}
.strip.third {
  width: 10%;
  height: 8%;
  left: 45%;
  top: 34%;
}
.strip.four {
  width: 10%;
  height: 8%;
  left: 9%;
  top: 67%;
}
.strip.five {
  width: 10%;
  height: 8%;
  left: 81%;
  top: 67%;
}

.hair {
  height: 40%;
  width: 40%;
  clip-path: polygon(33.59% -3.54%, 71.97% 102.53%, 100% 0%, 68.43% -3.03%);
  background-color: #F5DCB4;
  position: absolute;
}
.hair.hair-1 {
  left: -15%;
  bottom: 0;
  transform: rotate(10deg);
}
.hair.hair-2 {
  left: -25%;
  bottom: 20px;
  transform: rotate(30deg);
}
.hair.hair-3 {
  left: -25%;
  bottom: 40px;
  transform: rotate(50deg);
}
.hair.hair-4 {
  right: -5%;
  bottom: 0px;
  transform: rotate(-10deg);
}
.hair.hair-5 {
  right: -13%;
  bottom: 20px;
  transform: rotate(-30deg);
}
.hair.hair-6 {
  right: -13%;
  bottom: 40px;
  transform: rotate(-50deg);
}

.checks {
  height: 20%;
  width: 20%;
  position: absolute;
  border-radius: 50%;
  border-bottom: 3px solid #D4AF91;
  bottom: 6px;
  background-color: #FAEBC8;
  z-index: 4;
}
.checks.rigth {
  right: 48%;
  border-right: 3px solid #D4AF91;
  transform: rotate(33deg);
}
.checks.left {
  left: 48%;
  border-left: 3px solid #D4AF91;
  transform: rotate(-33deg);
}

/*# sourceMappingURL=main.css.map */
