$color-yellow:#FFC850;
$color-orange:#EBAF4B;
$color-orange-dark:#E19C46;
$color-grey:#5D5360;
$color-grey-dark:#4B3F4E;
$color-pink:#FF8087;
$color-nude:#FAEBC8;
$color-nude-opacity:#F5DCB4;
$color-nude-dark:#D4AF91;

$width-container:250px;
$heigth-container:250px;