$color-nude:#E7D8BB;
$color-light-nude:#F5EFDF;
$color-brown:#A45C22;
$color-brown-dark:#945021;
$color-peach:#FACF8B;
$color-chocolate:#452F21;
$color-dark-chocolate:#35241A;
$color-black:#120E0D;
$color-tronco:#271A11;
$color-hoja:#95BE22;
$color-white:#ffffff;